---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/base-layout.astro';
import '../../styles/global.css';
import ProjectPageHeader from '../../components/project-page-header.astro';
import ProjectGallery from '../../components/project-gallery.astro';

export async function getStaticPaths() {
  const collections = ['released-games', 'ui-studies', 'prototypes'] as const;
  
  const paths = await Promise.all(
    collections.map(async (category) => {
      const items = await getCollection(category);
      return items.map(entry => ({
        params: { category, slug: entry.slug },
        props: { entry },
      }));
    })
  );

  return paths.flat();
}

// General data of the entry
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout title={`${entry.data.title} - Andrée Burlamaqui`}>
  
  <article class="game-container">
    
    <div class="main-column">

      <ProjectPageHeader project={entry.data} />

      <div class="content-body">
        <Content />
      </div>

    </div>

    <ProjectGallery folder={entry.slug} />

  </article>
</BaseLayout>

<style>
  /* LAYOUT CONTAINER */
  .game-container {
    display: grid;
    grid-template-columns: 3fr 1fr; /* Main Content | Sidebar */
    gap: 6rem;
    width: 90%;
    max-width: 1400px; /* prevents lines from getting too long on 4k screens */
    padding-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
  }


  /* MARKDOWN CONTENT STYLES */
  .content-body {
    font-size: 0.9rem;
    line-height: 1.7;
    color: #333;
  }
  
  /* Make embedded images in markdown responsive */
  .content-body :global(img) {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }


  /* Responsive Fix for Mobile */
  @media screen and (max-width: 768px) {

    .game-container {
      width: 90%;
      margin-left: 1rem;
      margin-right: auto;
    }

  }
</style>