.tag { 
    display: inline-flex;
    align-items: center;
    font-size: 0.8rem; background: #eee; padding: 0.2rem 0.5rem; border-radius: 4px; color: #555; 
    margin-top: 0.35rem;
    white-space: nowrap;
    flex-shrink: 0;
    text-transform: uppercase;
    }