.tag { 
    display: inline-flex;
    align-items: center;
    font-size: 0.8rem; 
    background: #eee; 
    padding: 0.2rem 0.5rem;
    border-radius: 4px; 
    color: #555; 
    margin-top: 0.35rem;
    white-space: nowrap;
    flex-shrink: 0;
    text-transform: uppercase;
    margin-left: 5px;
    }
    .tag.vertical{
      display: block;
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
    }

    hr {
  border: 0;
  height: 2.5px;
  background: linear-gradient(to right, transparent, #ccc, transparent);
  margin: 0.5rem auto;
  width: 100%;
    }
    
    h3
    {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  padding: 0.5rem 1rem; 
}